<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>로그인</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<th:block th:include="~{layout/css}"></th:block>
	<!-- JS -->
	<th:block th:include="~{layout/js}"></th:block>

	<!--	 로그인 실패 alert 스크립트-->
	<script>
		window.onload = function() {
            let errorMessage = "[[${loginError}]]";
            let signUpSuccess = "[[${signUpSuccess}]]";
            let updateSuccess = "[[${updateSuccess}]]";
            if (errorMessage) {
                alert(errorMessage);
            } else if (signUpSuccess) {
                alert(signUpSuccess);
            }  else if (updateSuccess) {
                alert(updateSuccess);
            }
        }
	</script>
</head>
<body>
<section class="min-vh-100 d-flex justify-content-center align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-5">
				<div class="text-center mb-4">
					<a href="/" class="heading-section">
					<h1>TechBox</h1>
					</a>
				</div>
				<div class="login-card">
					<h4 class="text-center mb-4">로그인</h4>
					<form action="/member/login" method="post">
						<div class="mb-3">
							<input type="text" class="form-control" name="userId" placeholder="아이디" required>
						</div>
						<div class="mb-3">
							<input type="password" class="form-control" name="password" placeholder="비밀번호" required>
						</div>
						<div class="d-flex justify-content-end link-text mb-4">
							<a href="#">비밀번호 찾기</a>
							<span class="mx-1">|</span>
							<a href="/member/signUp">회원가입</a>
						</div>
						<button type="submit" class="btn login-btn w-100">로그인</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
