<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>로그인</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<!-- CSS -->
	<th:block th:include="~{layout/css}"></th:block>
	<!-- JS -->
	<th:block th:include="~{layout/js}"></th:block>

	<!--	 로그인 실패 alert 스크립트-->
	<script>
		window.onload = function() {
            let errorMessage = "[[${loginError}]]";
            let signUpSuccess = "[[${signUpSuccess}]]";
            let updateSuccess = "[[${updateSuccess}]]";
            if (errorMessage) {
                alert(errorMessage);
            } else if (signUpSuccess) {
                alert(signUpSuccess);
            }  else if (updateSuccess) {
                alert(updateSuccess);
            }
		}
	</script>
</head>
<body>
<div>

</div>
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<a href="/">
					<h1 class="heading-section">TechBox</h1>
				</a>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-5">
				<div class="login-wrap p-4 p-md-5">
					<h4 class="text-center">로그인</h4>
					<h3 class="text-center mb-4"></h3> <!--여기 나중에 공간 만들어주기-->
					<form action="/member/login" method="post" onsubmit="return formCheck()">
						<div class="form-group">
							<input type="text" name="userId" id="userId" class="form-control rounded-left" placeholder="아이디" required>
						</div>
						<div class="form-group d-flex">
							<input type="password" name="password" id="password" class="form-control rounded-left" placeholder="비밀번호" required>
						</div>
						<div class="form-group d-md-flex justify-content-end">
							<div class="text-end">
								<a href="#">비밀번호 찾기</a> | <a href="/member/signUp">회원가입</a>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary rounded submit p-3 px-5">로그인</button>
						</div>
					</form>
					[[${script}]]
				</div>
			</div>
		</div>
	</div>
</section>


</body>
</html>
