@charset "UTF-8";

.detailPage{
    color: black;
    text-decoration: none;
}

 .material-icons {
 top: 0.5rem;
 right: 0.5rem;
 background: none;
 border: none;
 color: gray;
 }



.material-icons {
top: 0.5rem;
right: 0.5rem;
background: none;
border: none;
color: gray;
cursor: pointer;
}

.material-icons.filled {
 top: 0.5rem;
 right: 0.5rem;
 background: none;
 border: none;
 color: red;
 cursor: pointer;
 }



