.product-container {
    padding: 50px 20px;
}

.product-image img {
    max-width: 100%;
    border-radius: 10px;
}

.product-details h2 {
    margin-bottom: 20px;
}

.red__heart.filled {
    color: red;
}

.small-heart {
    font-size: 1.5rem;
}

.button-group .material-icons,
.cart-btn {
    margin-right: 10px;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}

.quantityBtn{
    gap: 2px;
    width: 110px;
}